$notifications-transition-time: 0.4s;
$notifications-container-width: 320px;
$notifications-container-top-padding: 0px;
$notifications-container-max-height: calc(100% - 30px);
$notifications-container-right-padding: 15px;
$notifications-color: #fff;
$notifications-background-color: #ccc;
$notifications-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.6);
$notifications-font-size: 1em;
$notifications-line-height: 1.2em;
$notifications-opacity: 0.9;
$notifications-margin-bottom: 15px;
$notifications-hover-opacity: 1;
$notifications-title-font-size: 1em;
$notifications-title-line-height: 1.2em;
$notifications-title-font-weight: bold;
$notifications-title-margin: 0 0 5px 0;
//$notifications-message-background-color: #2f96b4;
$notifications-message-background-color: #1e2337;
$notifications-success-background-color: #51a351;
$notifications-warning-background-color: #f89406;
$notifications-error-background-color: #bd362f;
$notifications-request-background-color: #222a50;

* {
  box-sizing: border-box !important;
}

.notification-container {
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: $notifications-container-width;
  padding: $notifications-container-top-padding $notifications-container-right-padding !important;
  max-height: $notifications-container-max-height;
  overflow-x: hidden;
  overflow-y: auto;
  &.bottom-left {
    bottom: 0;
    left: 0;
  }
  &.bottom-right {
    bottom: 0;
    right: 0;
  }
  &.top-right {
    top: 0;
    right: 0;
  }
  &.top-left {
    top: 0;
    left: 0;
  }
}

.notification {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 7px 3px;
  border-radius: 2px;
  color: $notifications-color;
  background-color: $notifications-background-color;
  box-shadow: $notifications-box-shadow;
  cursor: pointer;
  font-size: $notifications-font-size;
  line-height: $notifications-line-height;
  position: relative;
  opacity: $notifications-opacity;

  .title {
    font-size: $notifications-title-font-size;
    line-height: $notifications-title-line-height;
    font-weight: $notifications-title-font-weight;
    margin: $notifications-title-margin;
  }

  &:hover, &:focus {
    opacity: $notifications-hover-opacity;
  }
  &.bottom-left {
    margin-bottom: $notifications-margin-bottom;
  }
  &.bottom-right {
    margin-bottom: $notifications-margin-bottom;
  }
  &.top-right {
    margin-top: $notifications-margin-bottom;
  }
  &.top-left {
    margin-top: $notifications-margin-bottom;
  }
}

// <-----------------------bottom-left--------------------->

.notification-bottom-left-enter {
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
}

.notification-bottom-left-enter.notification-bottom-left-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all $notifications-transition-time;
}

.notification-bottom-left-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-bottom-left-exit.notification-bottom-left-exit-active {
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
  transition: all $notifications-transition-time;
}

// <-----------------------bottom-right--------------------->

.notification-bottom-right-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-bottom-right-enter.notification-bottom-right-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all $notifications-transition-time;
}

.notification-bottom-right-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-bottom-right-exit.notification-bottom-right-exit-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all $notifications-transition-time;
}

// <-----------------------top-right--------------------->

.notification-top-right-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-top-right-enter.notification-top-right-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all $notifications-transition-time;
}

.notification-top-right-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-top-right-exit.notification-top-right-exit-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all $notifications-transition-time;
}

// <-----------------------top-left--------------------->

.notification-top-left-enter {
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
}

.notification-top-left-enter.notification-top-left-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all $notifications-transition-time;
}

.notification-top-left-exit {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-top-left-exit.notification-top-left-exit-active {
  visibility: hidden;
  transform: translate3d(-100%, 0, 0);
  transition: all $notifications-transition-time;
}

.notification-message {
  background-color: $notifications-message-background-color;
  //&:before {
  //  content: $notifications-info-content;
  //}
}

.notification-success {
  background-color: $notifications-success-background-color;
  //&:before {
  //  content: $notifications-success-content;
  //}
}

.notification-warning {
  background-color: $notifications-warning-background-color;
  //&:before {
  //  content: $notifications-warning-content;
  //}
}

.notification-error {
  background-color: $notifications-error-background-color;
  //&:before {
  //  content: $notifications-error-content;
  //}
}

.notification-request {
  background-color: $notifications-request-background-color;
  cursor: default;
  button {
    border-radius: 5px;
    border: none;
    padding: 4px 10px;
    color: whitesmoke;
    cursor: pointer;
    font-size: medium;
    opacity: $notifications-opacity;
    &:hover, &:focus {
      opacity: $notifications-hover-opacity;
      box-shadow: $notifications-box-shadow;
    }
  }
  .entry-request-deny {
    background: transparent;
    margin: 0 10px 0 0;
    color: #fb4e4e;
    border: 1px solid;
  }
  .entry-request-accept {
    background: transparent;
    margin: 0 5px;
    color: $notifications-success-background-color;
    border: 1px solid;
  }
  .entry-request-message {
    margin-bottom: 14px !important;
    font-size: medium;
  }
}

.notification-message-container {
  width: 100%;
  height: 100%;
  padding: 7px !important;
  &.request {
    padding: 7px 7px 7px 14px !important;
  }
}