$dark: #181a26;
$light: #ffffff;
$dark-hover: #33363a;
$blur-bg: rgba(0, 0, 0, 0.56);
$disabled-color: #666666;
$video-border-color: #2e3348;
$video-border-size: 2px;
$video-border-radius: 15px;
$no-video-avatar-border-radius: 20px;
$no-video-avatar-background: #43306d;
$no-audio-red: #f26b4d;

* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

// dropdown button css
@keyframes colorChange {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

.dropdown {
  overflow: hidden;
  position: absolute;
  background: transparent;
  padding: 0;
  right: 8px;
  top: 10px;
  z-index: 1;
  height: 100%;
  width: 100%;
  .remove-user-option {
    svg {
      color: $no-audio-red;
    }
  }
}

.dropdown-button {
  display: none;
  float: right;
  cursor: pointer;
  padding: 0;
  font-size: 120%;
  background: transparent;
  border: none;
  animation: colorChange 1s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.show {
  //visibility: visible;
  display: block;
}


// <--------------------------------------->
// video css


.video {
  //z-index: 0;
  width: calc(100%/var(--per-row));
  padding: var(--video-padding);
  height: calc(100%/var(--rows));
  border: $video-border-size solid $video-border-color;
  border-radius: $video-border-radius;
  @media only screen and (max-width: 700px) {
    flex-grow: 1;
  }
}

.inner {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover .dropdown-button {
    display: block;
  }
}

.video-stream, iframe {
  height: 100% !important;
  width: 100% !important;
  border-radius: 8px;
  object-fit: cover;
}

.expanded {
  position: absolute;
  left: 0;
  top: 0;
  border: $video-border-size solid $video-border-color;
  border-radius: $video-border-radius;
  //z-index: 0;
  //height: 100%;
  //width: 75%;
  //padding: 5px;
  //@media only screen and (max-width: 700px) {
  //  width: 100%;
  //  height: 75%;
  //}
  //@media only screen and (max-width: 415px) {
  //  width: 100%;
  //  height: 80%;
  //}
  &:hover .dropdown-button {
    display: block;
  }
}

.webrtc-media-cell {
  position: absolute;
  border: $video-border-size solid $video-border-color;
  border-radius: $video-border-radius;
  .no-video-avatar {
    width: 60px;
    height: 60px;
    span {
      font-size: 30px;
    }
  }
  //z-index: 0;
  //padding: 5px;
  //height: 33%;
  //width: 25%;
  //@media only screen and (max-width: 700px) {
  //  width: 33%;
  //  height: 25%;
  //}
  //@media only screen and (max-width: 415px) {
  //  width: 33%;
  //  height: 20%;
  //}
}

// fullscreen css

.fullscreen {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
  //z-index: 1;
  .video-stream {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .exit-fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    background: $blur-bg;
    line-height: 30px;
    padding: 10px;
    svg {
      margin-right: 5px;
    }
    span {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}

.no-video-avatar {
  border-radius: $no-video-avatar-border-radius;
  //background: #2c3150;
  background: $no-video-avatar-background;
  width: 100px;
  height: 100px;
  span {
    font-size: 50px;
  }
}

.no-audio {
  color: $no-audio-red;
  position: absolute;
  bottom: 7px;
  left: 7px;
}
