* {
  box-sizing: border-box;
}


.is-relative {
  background: black;
  border-radius: 20px;
  width: 50vw;
  max-width: 124.46vh;
  /* 16/9 = 1.778 */
  height: 32.37vw;
  /* height:width ratio = 9/16 = .5625  */
  max-height: 70vh;
  .self-video {
    height: 100% !important;
    width: 100% !important;
    border-radius: 20px;
    object-fit: cover;
  }
  .button-wrapper {
    background: transparent;
    padding: 7px;

    &.video-off {
      background: #181a26;
    }
  }

  .overlay-message {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100.1%;
    height: 100%;
    display: flex;
    top: 0;
    font-size: medium;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
  }
}

.section {
  &.room-entry {
    display: flex;
    justify-content: center;
    //padding-top: 100px;
    //padding-bottom: 100px;
    .room-entry-container {
      //display: inline-flex;
      width: 90vw;
      margin-top: 50px;
      border-radius: 10px;
      box-shadow: 0px 8px 16px 7px rgba(0, 0, 0, 0.6);
      background-color: #1d2134 !important;
      .card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        //height: calc(100vh-10px);
        //height: 80vh;
        .room-entry-form {
          display: flex;
          flex-direction: column;
          margin-left: 70px;
          flex-grow: 1;
          justify-content: center;
          align-items: center;

          .room-entry-input {
            border-radius: 8px;
            min-height: 40px;
            border: none;
            padding: 10px;
            width: 80%;
            font-size: medium;
            box-shadow: 3px 3px 16px 3px rgba(0, 0, 0, 0.5);
            &:focus {
              box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.8);
            }
          }

          .room-entry-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin-top: 12%;
            button {
              border-radius: 10px;
              max-width: 45%;
              box-shadow: 3px 3px 16px 3px rgba(0, 0, 0, 0.5);
              &:hover {
                box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.7);
              }
            }

            .cancel-button {
              background: #583796;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}