* {
  box-sizing: border-box;
}

.is-relative {
  height: 50vh;
  width: 70vh;
  background: black;
  border-radius: 20px;
  .self-video {
    height: 100% !important;
    width: 100% !important;
    min-height: 100%;
    min-width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  .button-wrapper {
    background: transparent;
    padding: 7px;
    &.video-off {
      background: #181a26;
    }
  }
  .overlay-message {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    width: 100.1%;
    height: 100%;
    display: flex;
    top: 0;
    font-size: medium;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
  }
}

.section {
  &.room-entry {
    display: flex;
    justify-content: center;
    .room-entry-container {
      //display: inline-flex;
      border-radius: 10px;
      box-shadow: 0px 8px 16px 7px rgba(0, 0, 0, 0.6);
      background-color: #1d2134 !important;
      .card-content {
        display: flex;
        .room-entry-form {
          display: flex;
          flex-direction: column;
          margin-left: 40px;
          flex-grow: 1;
          justify-content: center;
          align-items: center;
          .input {
            border-radius: 8px;
          }
          .join-button {
            border-radius: 10px;
          }
        }
      }
    }
  }
}