$blur-bg: rgba(0, 0, 0, 0.56);
* {
  box-sizing: border-box;
}

.room-fullscreen {
  height: 100vh;
  width: 100vw;
  position: relative;
  .video-stream {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .exit-fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    background: $blur-bg;
    line-height: 30px;
    padding: 10px;
    svg {
      margin-right: 5px;
    }
    span {
      font-size: 18px;
      margin-left: 5px;
    }
  }
}