* {
  box-sizing: border-box;
}

:root {
  --message-snackbar-width: 200px;
  --message-snackbar-height: 70px;
  --message-snackbar-left: 20px;
  --message-snackbar-bottom: 40px;
}

.snackbar {
  visibility: hidden;
  min-height: var(--message-snackbar-height);
  min-width: var(--message-snackbar-width);
  max-height: calc(3*var(--message-snackbar-height));
  max-width: calc(1.5*var(--message-snackbar-width));
  position: absolute;
  z-index: 2;
}

.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
 However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}