//$notifications-font-base-path: './fonts' !default;

$notifications-transition-time: 0.4s !default;

$notifications-container-top: 0 !default;
$notifications-container-right: 0 !default;
$notifications-container-z-index: 999999 !default;
$notifications-container-width: 320px !default;
$notifications-container-top-padding: 0px !default;
$notifications-container-max-height: calc(100% - 30px) !default;
$notifications-container-right-padding: 15px !default;

$notifications-border-radius: 2px !default;
$notifications-padding-top: 15px !default;
$notifications-padding-right: 15px !default;
$notifications-padding-bottom: 15px !default;
$notifications-padding-left: 58px !default;
$notifications-color: #fff !default;
$notifications-background-color: #ccc !default;
$notifications-box-shadow: 0 0 12px #999 !default;
$notifications-cursor: pointer !default;
$notifications-font-size: 1em !default;
$notifications-line-height: 1.2em !default;
$notifications-opacity: 0.9 !default;
$notifications-margin-top: 15px !default;

$notifications-icon-top: 50% !default;
$notifications-icon-left: 15px !default;
$notifications-icon-margin-top: -14px !default;
$notifications-icon-width: 28px !default;
$notifications-icon-height: 28px !default;
$notifications-icon-font-size: 28px !default;
$notifications-icon-line-height: 28px !default;

$notifications-hover-opacity: 1 !default;

$notifications-title-font-size: 1em !default;
$notifications-title-line-height: 1.2em !default;
$notifications-title-font-weight: bold !default;
$notifications-title-margin: 0 0 5px 0 !default;

$notifications-info-background-color: #2f96b4 !default;
$notifications-info-content: "\f05a" !default;
$notifications-success-background-color: #51a351 !default;
$notifications-success-content: "\f058" !default;
$notifications-warning-background-color: #f89406 !default;
$notifications-warning-content: "\f06a" !default;
$notifications-error-background-color: #bd362f !default;
$notifications-error-content: "\f057" !default;